
@{
    ViewData["Title"] = "register";
}

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image:url('@Url.Content("~/UP-Assets/img/bg-img/breadcumb3.jpg")');">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Login</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Register Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Register Your Account</h3>
                    <!-- Register Form -->
                    <div class="login-form">
                        <form action="#" method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Full Name</label>
                                <input type="text" class="form-control" id="exampleInputName" placeholder="Enter Your Full Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputuName">User Name</label>
                                <input type="text" class="form-control" id="exampleInputuName" placeholder="Enter Your User Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputdob">Date Of Birth</label>
                                <input type="date" class="form-control" id="exampleInputdob">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter E-mail">
                                <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPic">Profile Picture</label>
                                <input type="file" class="form-control" id="exampleInputPic">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputcPassword1">Confirm Password</label>
                                <input type="password" class="form-control" id="exampleInputcPassword1" placeholder="Confirm Password">
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Register Area End ##### -->

