@model onlineShop4DVDs.Models.ShopModelView

<div class="albums-slideshow owl-carousel">
    @foreach (var album in Model.ShopAlbum)
    {
        <!-- Single Album -->
        <div class="single-album">
            <img src="~/UP-Assets/img/bg-img/a1.jpg" alt="">
            <div class="album-info">
                <a href="#">
                    <h5>@album.Title</h5>
                </a>
                <p>Artist: @album.Artist.Name</p>  <!-- Accessing the Artist's Name -->
            </div>
        </div>
    }
</div>
